.booksCollection {
  padding: 20px;
  text-align: center;

  .book-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr); // 4 cá»™t
    gap: 20px; 
    width: 850px; 
    margin: 0 auto; 
    box-sizing: border-box; 
  }

  .book-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    box-sizing: border-box; 
    margin-bottom: 20px; 
  }

  .book-wrapper {
    width: 100%; 
    height: auto; 
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .book-cover {
    width: 100%; 
    height: 200px; 
    object-fit: cover; 
    border-bottom: 1px solid #ddd;
  }

  .book-info {
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: auto; 
    box-sizing: border-box;
    text-align: center;

    .book-title {
      font-size: 16px;
      font-weight: bold;
      margin: 0;
    }
  }

  .button-book {
    margin-top: 10px; 
    padding: 10px; 
  }
}
